.portfolio__title {
  font-family: ArticulatCF;
  font-size: 2.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000b20;
}
.portfolio-card__container {
  height: 70vh;
  overflow-x: hidden;
  padding: 2rem 0.8rem;
}
