/* Leaders Header */
.gleaders__header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  bottom: 375px;
  left: 70px;
  width: 300px;
  height: 55px;
  border-radius: 8px;
  background-color: #ffffff;
}

.gleaders__title {
  font-family: ArticulatCF;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9faab3;
}

/* Leaders Main Content */
.gleaders {
  position: absolute;
  bottom: 209px;
  left: 70px;
  width: 300px;
  height: 165px;
  background-color: #ffffff;
  overflow: auto;
  padding: 10px 10px 0 0;
  border-radius: 8px;
}
.gleaders::-webkit-scrollbar {
  height: 16px;
}
.gleaders::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border: 5px solid transparent;
  background-clip: content-box;
  border-radius: 15px;
}
.gleaders--hide {
  display: none;
}
.gleaders__footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 148px;
  left: 70px;
  width: 300px;
  height: 14px;
  padding: 30px;
  border-radius: 8px;
  background-color: #ffffff;
}

.gleaders__footer--hide {
  display: none;
}

/* Leaders List */
.leader__list {
  background-color: #ffffff;
  padding-left: 1rem;
}
.leader__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000b20;
  background-color: #ffffff;
  list-style: none;
  margin-bottom: 10px;
}
.leader__count {
  font-family: ArticulatCF;
  font-size: 0.75rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #64af8b;
}
