.news {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
  height: 534px;
  background-color: #fff;
  overflow: auto;
  padding: 30px;
  border-radius: 8px;
}
.news::-webkit-scrollbar {
  height: 16px;
}
.news::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border: 5px solid transparent;
  background-clip: content-box;
  border-radius: 15px;
}
.news__footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 586px;
  left: 50px;
  width: 200px;
  height: 14px;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
}
