#btn-sci-1,
#btn-sci-2,
#btn-sci-3 {
  color: #000000;
  background-color: white;
  border-color: white;
}
#btn-sci-1:hover,
#btn-sci-2:hover,
#btn-sci-3:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
}
#btn-top-e,
#btn-top-p,
#btn-top-c {
  color: #000000;
  background-color: white;
  border-color: white;
}
#btn-top-e:hover,
#btn-top-p:hover,
#btn-top-c:hover {
  background-color: rgb(241, 241, 241);
}
