.main-page__menu {
  margin: 60px 0 40px;
}

.main-page__item {
  display: block;
  list-style: none;
  margin-right: 60px;
}

.main-page__item:first-child {
  margin-left: 40px;
}

.main-page__link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "ArticulatCF";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9faab3;
}

.main-page__link:hover {
  font-weight: bold;
  color: #000b20;
}
.nav.main {
  margin-top: 3.75rem;
}
.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__toggle {
  font-family: ArticulatCF;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9faab3;
}
.nav__item {
  margin-right: 3rem;
  cursor: pointer;
}
.nav__info {
  display: inline-block;
  margin: 0 0 0 0.5rem;
}
/* drop-down segment */
.dropdown-toggle__menu-title {
  font-family: ArticulatCF;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9faab3;
}
.drop-name.portfolio {
  font-family: ArticulatCF;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000b20;
}
.dropdown-toggle__menu-title:hover,
.dropdown-toggle__menu-title.active {
  font-family: ArticulatCF;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000b20;
}
.drop-down-menu.portfolio,
.drop-down-menu.timeframes {
  width: 17rem;
  height: 11rem;
  border-radius: 20px;
  padding: 1.5rem 1rem;
}
.drop-profile {
  margin-right: 0.5rem;
}
.drop-down__form {
  flex-direction: column;
  justify-content: start;
}
.drop-down__list {
  display: flex;
}
.form-check.form-check {
  display: flex;
  margin-bottom: 0.4rem;
}
.dropdown__count {
  display: inline-block;
}

.btn.portfolio-segment__btn {
  text-decoration: none;
}
.badge__count.badge.badge-secondary {
  color: #1a8d9c;
  font-size: 0.9rem;
}
/* countries and regions */
.drop-down__country-input.form-control {
  margin: 0 1.5rem 1.5rem 0;
  border-radius: 20px;
  background-color: #f7f7f7;
}

.drop-down-menu.regions {
  width: 17rem;
  height: 20.688rem;
  border-radius: 20px;
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
}
.drop-down__overflow {
  height: 11rem;
  overflow: auto;
  padding-right: 0.4rem;
}

.drop-down__overflow::-webkit-scrollbar {
  width: 16px;
}
.drop-down__overflow::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border: 5px solid transparent;
  background-clip: content-box;
  border-radius: 15px;
}

.form-check.form-check-input {
  margin-left: 0;
}

.drop-down-menu.timeframes {
  width: 17rem;
  height: 19rem;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1.5rem 1rem;
}
.drop-down-menu.size {
  width: 25rem;
  height: 15rem;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 2.5rem;
}
.form-check .form-check-input {
  margin-left: 0;
}
/* Risks */
.drop-down-menu.risks {
  width: 17rem;
  height: 10.75rem;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.range-slider__wrap {
  display: flex;
  flex-direction: column-reverse;
}
.range-slider__tooltip.range-slider__tooltip--auto.range-slider__tooltip--bottom {
  width: 6.375rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0.625rem 2.75rem 0.688rem;
  border-radius: 20px;
  background-color: #f7f7f7;
}
.range-slider__tooltip__label {
  position: relative;
  right: 7px;
  font-family: ArticulatCF;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000b20;
}
