.portfolio-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio-card {
  width: 17rem;
  height: 26rem;
  flex-grow: 0;
  margin: 0 2.5rem 2.5rem 0;
  padding: 1.25rem 0 1.25rem;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}
.card-header__svg {
  display: inline-block;
  margin: 0 -4px;
}

.portfolio-card:nth-last-child(n -1) {
  margin-right: 0;
}
.card-header {
  background-color: #ffffff;
}
.card-header__growth {
  cursor: pointer;
  margin-right: 1rem;
}
.card-header__favorites {
  cursor: pointer;
  margin-right: 1.3rem;
}
.card-header__notification {
  cursor: pointer;
}
.card-header__notification--plan {
  position: absolute;
  top: -13px;
  right: -13px;
}
.card-header-count {
  width: 1.625rem;
  height: 1.625rem;
  flex-grow: 0;
  margin: 0 -4px;
  padding: 0.5rem;
  border: solid 2px #fff;
  background-color: #f7f7f7;
  font-family: ArticulatCF;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000b20;
  border-radius: 50%;
}
.list-banks {
  margin-right: 1rem;
}
.list-group {
  height: 7rem;
  overflow: auto;
  /* background-image: url("../../assets/svg/graf1.jpg"); */
}
.badge.cards {
  display: inline-block;
  padding: 0.313rem 0.5rem 0.438rem;
  border-radius: 4px;
  background-color: #f5f3ff;
  font-family: ArticulatCF;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #887cc9;
  margin-right: 1rem;
}
.banks-name {
  font-family: ArticulatCF;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000b20;
}
.banks-count {
  font-family: ArticulatCF;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9faab3;
}
.banks {
  margin-right: 1rem;
}

.card-body-graf {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-body-graf--left {
  height: 135px;
  width: 130px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.719);
  z-index: 1;
}
.card-body-graf--left::-webkit-scrollbar {
  width: 16px;
}
.card-body-graf--left::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border: 5px solid transparent;
  background-clip: content-box;
  border-radius: 15px;
}
.card-body-graf--right {
  position: absolute;
  opacity: 0.3;
}
#card-btn-1,
#card-btn-2,
#card-btn-3 {
  border: none;
  border-color: none;
}
#card-btn-1:hover,
#card-btn-2:hover,
#card-btn-3:hover {
  background-color: #f3f3f3;
  color: black;
}

.growth-count {
  font-family: ArticulatCF;
  font-size: 1.375rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000b20;
}
.growth-img {
  display: inline-block;
  margin-right: 0.5rem;
}
