.map__title {
  font-family: "ArticulatCF";
  font-size: 2.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000b20;
}
.map-page__wrapper-top {
  justify-content: space-between;
}
.map-page__wrapper-top {
  display: none;
}
.map-mob-filters {
  cursor: pointer;
  z-index: 2;
}
@media only screen and (max-width: 960px) {
  .map-page__wrapper-top {
    position: absolute;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 1.25rem 0 1.25rem;
    background-color: none;
    background: none;
  }
  .filters__title {
  }
  .filters_modal-body.modal-body {
    padding-top: 10px;
  }
  .filters__title {
    display: inline-block;
    font-family: ArticulatCF;
    font-size: 1.375rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000b20;
    margin-left: 1.25rem;
  }
  .filters_modal-body-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }
  .filters__cancel {
    font-family: ArticulatCF;
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #5448c8;
    cursor: pointer;
  }
  .filters__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    cursor: pointer;
  }
  .filters.modal-footer {
    justify-content: center;
  }
  .filters-btn.btn.btn-secondary {
    width: 9.25rem;
    height: 3.188rem;
    flex-grow: 0;
    border-radius: 40px;
    background-color: #5448c8;
    font-family: ArticulatCF;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
  }
  .filters_modal-body.modal-body {
    margin-top: 3rem;
    height: 85vh;
  }
  .filters__item {
    display: inline-blocks;
    margin-bottom: 2.5rem;
    font-family: ArticulatCF;
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000b20;
  }
  .drop-down__overflow.filters {
    height: 82vh;
  }
  .filter__country {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .drop-down__country-input.filters.form-control {
    display: block;
    margin-top: 1rem;
  }
  .filters__country {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
