.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#btn-check,
#btn-clear,
#btn-collapse,
#btn-pin {
  border-color: white;
  border: none;
}
#btn-check:hover,
#btn-clear:hover,
#btn-collapse:hover,
#btn-pin:hover {
  background-color: rgb(241, 241, 241);
}
