.nav.nav-bar {
  position: relative;
}

.nav-map {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-map__item {
  display: block;
  font-family: ArticulatCF;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9faab3;
  cursor: pointer;
  text-decoration: none;
}
.nav-map__item:nth-last-child(-n + 1) {
  margin-right: 10.5rem;
}
.nav-map__item:hover {
  font-family: ArticulatCF;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000b20;
}

.nav-map__item:hover::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 40px;
  height: 2px;
  margin-top: 1.5rem;
  border-radius: 2px;
  background-color: #5448c8;
}
