html {
  font-size: calc(60% + 0.8vmin);
}
* {
  font-size: 1rem;
  box-sizing: border-box;
}
#root {
  background-color: #f7f7f7;
}
body {
  margin: 0;
  font-family: "ArticulatCF";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Fonts */
@font-face {
  font-family: "ArticulatCF";
  font-style: normal;
  font-weight: 500;
  src: local("ArticulatCF-Medium"),
    url(./assets/fonts/ArticulatCF/ArticulatCF-Medium.otf) format("opentype");
}

@font-face {
  font-family: "ArticulatCF";
  font-style: bold;
  font-weight: 700;
  src: local("ArticulatCF-Bold"),
    url(./assets/fonts//ArticulatCF/ArticulatCF-Bold.otf) format("opentype");
}
.modal-open {
  padding-right: 0px !important;
}
