.Hypothetical-Growth {
  padding: 1.875rem 2.5rem 2.5rem;
  border-radius: 8px;
  background-color: #fff;
}
.hypothetical__count {
  display: inline-block;
  margin-left: 0.2rem;
}
.Hypothetical-Growth {
  width: 80rem;
  height: 39.563rem;
  padding: 1.875rem 2.5rem 1.875rem 2.438rem;
  border-radius: 8px;
  background-color: #fff;
}
